name: Traffic Simulation Bot

on:
  schedule:
    - cron: '*/30 * * * *'
  workflow_dispatch:

jobs:
  simulate_traffic:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'
        cache: 'pip'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Install Playwright browsers
      run: |
        playwright install chromium
        playwright install-deps chromium

    - name: Run Traffic Bot
      env:
        PROXY_HOST: ${{ secrets.PROXY_HOST }}
        PROXY_USER: ${{ secrets.PROXY_USER }}
        PROXY_PASS: ${{ secrets.PROXY_PASS }}
        TARGET_URL: ${{ secrets.TARGET_URL }}
        PROXY_COUNTRIES: ${{secrets.PROXY_COUNTRIES}}
      run: |
        python main.py
        
    - name: Upload Screenshots (on failure or success)
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: screenshots
        path: "*.png"
        retention-days: 5

